.home_container {
  /* display:flex;
          flex-direction: column;
          justify-content: flex-start; */
}

/* main and header  - anything with this class relates its 'frontness/backness' to the parallax perspective:(10px),  using translateZ()  &  scale() <-- to look normal sized (not sure how z-index also plays a role)*/

/* apply to child containers to set  scroll speed.. adjust child containers' sizing at their level...  

Normally would apply scale here too, but bc .parallax_layer has to be applied to main to reach the grandchildren, we  don't want ot also scale main.
*/
header {
  width: 100%;
  height: 40vh;
  max-height: 45rem;
  box-shadow: var(--boxShadowNav);

}

header>video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 2px solid red;     */
}

/*  */

.title_box_foreground {
  position: absolute;
  height: min-content;
  align-self: flex-start;
  top: 0;
  left: 0;
  margin: min(10vw, 4rem);
  ;
}



main {
  border: 4px solid black;
}

/* main >*:not(.parallax_layer_img){
  padding:0 10%;;
} */



.main_home_text,
.main_home_text_2 {
  background-color: white;
  padding: calc(1.1rem + 1vw);
  box-shadow: var(--boxShadow);
}

.main_home_text {
  /* border: 4px solid black; */
  align-self: center;
  max-width: 70rem;

}

/* FORM CONTAINER */
.main_home_text_2 {
  background-color: var(--hmYellowLite);
  width: clamp(50%, max(75%, 95vw), 60rem);
  /* min-width:90vw; */
}

h2.preApprove_title {
  color: var(--hmGreen);
  font-family: var(--ant);
  font-size: calc(2.5rem + 3vw);
  line-height: .95;
  position: absolute;
  top: min(-8vw, -13%);
  left: max(3vw, 8%);
  /* left:2vw; */

  /* top:-20%; */
  z-index: 2;
  transform: rotate(-8deg)scale(1.4)
    /* translateY() */
  ;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}



/********* PRE-APPROVAL FORM / CREDIT APPLICATION *********/

.preApproval_form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: .8em;
}

.preApproval_form>div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.preApproval_input {
  color: var(--textColor);
  border: none;
  font-family: var(--ns);
  padding: .5rem;
  font-size: 1em;
  font-weight: 200;
}

select.preApproval_input option {
  background-color: blue;
}

textarea.preApproval_input {
  resize: none;
}


/* ************* THIRD PAGE**************/
/* IMG */
.main_home_logo {
  width: 30%;
}

.para_layer p {
  width: clamp(50%, min(85%, 100vw), 40rem);
  border: 1px solid red;
}