/* top: min(-11vw, -8vw); */
.parallax_wrapper {
     border: 4px solid blue;
     height: 100vh;
     overflow-x: hidden;
     overflow-y: auto;
     perspective: 10.5px;
     margin-top: 4rem;
     /* <--- moved to container margin index.css */
}


.parallax_group {
     /* position: relative; */
     width: 100%;
     transform-style: preserve-3d;
     height: 100vh;
     border: none;
     /* border: 2px solid blue; */
     /* height:100%; */
}

.parallax_group.intro_section {
     height: calc(100vh - 3rem);
}

.top_parallax_layer {
     transform-style: preserve-3d;
     /* border: 2px solid orange; */
     /* transform: translateZ(2px) scale(.7); */
     /* max-width: 95vw; */
     box-shadow: var(--boxShadow);
     background-color: var(--bodyBGOpac);
     /* border: 10px solid black; */
}

.top_paralax_layer>* {
     transform-style: preserve-3d;
}

/****************** INTRO SECTION ******************/

.top_parallax_layer.intro_text {
     /* transform: translateZ(2px) scale(.67); */
     box-shadow: none;

}

.parallax_group.intro_section {
     /* height: min(150vw, 150vh); */
     height: min(250vw, 250vh);
     max-height: 100vh;
     border: 4px solid red;
}

@media(min-width:768px) {
     .parallax_group.intro_section {
          max-height: calc(100vh - 3rem);
     }
}


/****************** FORM SECTION ******************/
.parallax_group.form_section {
     /* background-image: url("../../assets/images/family_grad4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
     height: min(350vw, 350vh);
     max-height: 80rem;


}

@media(min-width:768px) {
     .parallax_group.form_section {
          max-height: 100vh;
     }
}


/* **********************THIRD PAGE ***********************/




.top_layer.para_layer {
     transform: translateZ(2px) scale(.8) translateX(17vw) translateY(30vh);
}