/* HOME AND ABOUT US */

.section {
          min-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7%;
}

.section:first-child {
          min-height: calc(100vh - 3rem);

}


.section:not(.page_section)>* {
          max-width: 90vw;
          /* margin:10vw; */
          /* border: 3px solid yellow; */
}


.hidden {
          opacity: 0;
          filter: blur(5px);
          transform: translateX(-100%);
          transition: transform, 1s var(--glideCB);
}


@media(prefers-reduced-motion:reduce) {
          .hidden {
                    transition: none;
          }
}

.show {
          opacity: 1;
          filter: blur(0);
          transform: translateX(0);
          transition-delay: 500ms;

}

/* ABOUT US  - INTRO & LOCATIONS SECTION         */

.hidden.location_container:nth-child(odd) {
          transform: translateX(100%);
}

.show.locations_title {
          transition-delay: 100ms;
}

.show.aboutUs_historyPara {
          transition-delay: 700ms;
}

.show.location_container:nth-child(odd) {
          transform: translateX(0);
}

.show.location_container:nth-child(2) {
          transition-delay: 150ms;
}

.show.location_container:nth-child(3) {
          transition-delay: 150ms;
}

.show.location_container:nth-child(4) {
          transition-delay: 150ms;
}