*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

@font-face {
  font-family: 'Brush445';
  /* Name your font family */
  src: url('./assets/fonts/Brush445/Brush445.otf') format('opentype');
  /* Update the file name and format */
  font-weight: normal;
  font-style: normal;
}


:root {

  /* border: 5px solid red; */
  /* position:relative; */
  /* COLORS */
  --hmGreen: rgb(40, 105, 51);
  --hmGreenLite: rgba(40, 105, 51, 0.7);
  --hmYellow: #f0b400;
  --hmYellowLite: #edce71;
  --hmYellowOpac: #edce71e2;
  --green: #008938;
  --greenBright: rgb(67, 201, 123);

  --greenLite: rgb(177, 199, 180);
  --textColor: rgb(72, 72, 72);
  --bodyBG: rgb(241, 243, 242);
  --bodyBGOpac: rgba(241, 243, 242, .9);

  /* FONTS */
  --as: "Alegreya Sans", sans-serif;
  --yk: 'Yanone Kaffeesatz', sans-serif;
  --ms: "Montserrat", sans-serif;
  --ns: "Nunito Sans", sans-serif;
  --ant: "Anton", sans-serif;
  --hm: 'Brush445', sans-serif;


  /* SHADOWS */
  --boxShadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  --boxShadow2: 0 2px 5px rgba(0, 0, 0, 0.3);
  --boxShadow3: 0 3px 3px rgba(0, 0, 0, 0.9);
  --boxShadowNav: 0 0 7px 0 rgba(0, 0, 0, 0.5);

  --boxShadowSection: inset 0 7px 7px -7px rgba(0, 0, 0, 0.5);
  ;


  --chatShadow2: 0px 0px 10000px -35px rgba(0, 0, 0, 0.41);
  --chatShadow1: 20px 40px 150px -50px rgba(17, 17, 17, 0.41);
  /* --bouncyCB:cubic-bezier(.6, 1.73, .45, .78); */
  --bouncyCB: cubic-bezier(.57, 1.74, .38, .68);

  /* --bouncyCB: cubic-bezier(.5, -.75, .7, 2); */
  --bouncyCB2: cubic-bezier(.17, 1.6, .25, .75);
  --glideCB: cubic-bezier(.36, 1.41, 0, 1);

}



body {
  font-family: var(--ms);
  /* color: var(--textColor); */
  color: black;
  font-weight: 300;
  background-color: var(--bodyBG);
  font-size: clamp(10px, calc(.75em + .75vw), 13px);
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}


.route_container {
  margin-top: 3.2rem;
  overflow: hidden;
}

/* MARGIN-TOP FOR ALL ROUTE PARENTS */
/* Just increase vh using parallax.css */


a {
  text-decoration: none;
}


a.store_link {
  margin-left: .25rem;
  color: black;
}

/* TRYING TO ALSO APPLY SCROLL TRANSITION TO PARRALLAX CONTAINERS */

h1,
h2,
h3 {
  font-family: var(--hm);
  color: white;
  font-style: italic;
  letter-spacing: -4px;
  text-shadow: var(--boxShadow3);
}

h1 {
  font-size: clamp(25px, calc(7rem + 7vw), 140px);
  color: var(--hmGreen);
  -webkit-text-stroke-width: .0001px;
  -webkit-text-stroke-color: var(--hmYellow);
  transform: rotate(-1deg);
  line-height: calc(5rem + 5vw);
  font-weight: 800;
}


h2 {
  font-size: clamp(25px, calc(5rem + 5vw), 120px);
  /* line-height: 40px; */
  font-weight: 200;
  margin-bottom: 1.5rem;
  z-index: 1;
  line-height: .95;
}

.fancyWhite {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}

.fancyYellow {
  color: var(--hmYellow);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

@media(max-width:600px) {
  h1 {
    font-size: clamp(25px, calc(7rem + 7vw), 100px);
  }
}



@media(max-width:600px) {
  h2 {
    font-size: clamp(25px, calc(5rem + 5vw), 70px);
  }
}



h3 {
  font-size: clamp(20px, calc(2.25rem + 2.25vw), 60px);
  letter-spacing: -1px;
  color: var(--hmGreen);
  line-height: .85;
  margin-bottom: .5rem;
  font-weight: 300;


  /* text-shadow:var(--boxShadow) */

}

h4 {
  font-size: clamp(20px, calc(2.2rem + 2.2vw), 20px);
}

main {
  /* padding: 1rem 2rem; */
  /* border: 1px solid blue; */
}

p {
  line-height: 2;
  /* margin-block-start: 0px;
  margin-block-end: 0px; */
}

button {
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
}

/******************  CHAT BUTTON (App.js) *****************/
.toggleChat_btn {
  position: fixed;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  right: 2.5rem;
  height: 4.25rem;
  width: 4.25rem;
  background-color: var(--hmGreenLite);
  padding: 0px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--boxShadow);
  transition: all ease-in .2s;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
    /* Adjust the value for the desired floating effect */
  }
}

@keyframes pulseEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.toggleChat_btn>svg {
  fill: white;
  width: 35px;
  height: 35px;

}

.toggleChat_btn>svg:first-child {
  margin-right: -7px;
  animation: floatUpDown 1s infinite alternate;
}

.toggleChat_btn>svg:last-child {
  margin-left: -8px;
  animation: floatUpDown .9s infinite alternate;
  fill: var(--hmGreenLite);
}



.toggleChat_btn:hover {
  background-color: var(--hmYellow);
  fill: var(--hmYellow);
  transform: scale(1.1);
  cursor: pointer;
  animation: pulseEffect 2s ease infinite alternate;
}

/* .toggleChat_btn:hover>svg:first-child, */
.toggleChat_btn:hover>svg:last-child {
  fill: var(--hmYellow);
}



/* Core Styles and Animation */
.main_home_logo {
  position: fixed;
  bottom: 1rem;
  left: 2rem;

  /* transform:rotate(10deg); */
  width: 5rem;
  height: 5rem;
  /* align-self:flex-start; */
  z-index: 2;

  opacity: .6;

}