.parallax_wrapper {
          height: 100vh;

          overflow-x: hidden;
          overflow-y: auto;
          perspective: 10.5px;
          margin-top: 3rem;
}

.parallax_group {
          position: relative;
          width: 100%;
          transform-style: preserve-3d;
          height: 100vh;
          /* border: 1px solid red; */
}

.top_parallax_layer {
          transform-style: preserve-3d;
          /* border: 2px solid orange; */
          transform: translateZ(2px) scale(.7);
          /* max-width: 95vw; */
          box-shadow: var(--boxShadow);
          background-color: var(--bodyBGOpac);
          /* border: 1px solid black; */
}

.top_paralax_layer>* {
          transform-style: preserve-3d;
}

/*  TITLE SECTION */

.top_parallax_layer.title_text {
          transform: translateZ(2px) scale(.67);
          box-shadow: none;
          background-color: transparent;
}

.parallax_group.title_section {
          height: min(250vw, 250vh);
          max-height: 80rem;
}

@media(min-width:768px) {
          .parallax_group.title_section {
                    max-height: calc(100vh - 3rem);
          }
}

/* FINANCING SECTION */
.parallax_group.financing_section {
          height: min(350vw, 350vh);
          max-height: 80rem;
}

@media(min-width:768px) {
          .parallax_group.financing_section {
                    max-height: 100vh;
          }
}


/* LOCATIONS SECTION */
.parallax_group.locations_section {
          height: min(925vw, 950vh);
          max-height: 255rem;
}

@media(min-height:1250px) {
          .parallax_group.locations_section {
                    max-height: 300vh;
          }
}

@media(min-width:1024px) and (min-height:800px) and (max-height:900px) {
          .parallax_group.locations_section {
                    max-height: 150rem;
          }
}

@media(min-width:1350px) {
          .parallax_group.locations_section {
                    max-height: 230vh;
          }
}

@media(min-width:1450px) {
          .parallax_group.locations_section {
                    max-height: 220vh;
          }
}

.top_parallax_layer.locations_text {
          box-shadow: none;
          /* border: none; */
}